/******************************************************/
                  /* IMPORTS */
/******************************************************/


/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

/******************************************************/
                  /* VARIABLES */
/******************************************************/


:root {


  /* COLORS */

  --bright-orange: hsl(22, 89%, 52%);
  --light-orange: hsl(22, 100%, 69%);
  --dark-blue: hsl(220, 50%, 17%);
  --blue-gray: hsl(221, 23%, 58%);
  --light-blue-gray: hsl(198, 28%, 93%);
  --white: hsl(0, 0%, 100%);


  /* TYPOGRAPHY */

  /* Font-Family */
  --barlow: 'Barlow', sans-serif;

  /* Font-Weights */
  --medium-font-weight: 500;
  --bold-font-weight: 700;
  --black-font-weight: 900;

  /* Font-Size */
  --font-size: 16px;

}


/******************************************************/
                  /* STYLES */
/******************************************************/

/* HTML */

html {
  font-size: var(--font-size);
  font-family: var(--barlow);
}

/* BODY .main-container */

.main-container {
  width: 375px;
  margin: 0 auto;
  background-color: var(--white);
}

/***************** SHARED STYLES ********************/

/* BUTTONS */

.btn {
  width: 9.375rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
}

/* HEADER */

.header {
  width: 20.4375rem;
  height: 3rem;
  margin: 1.4375rem 1.5rem 4rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.typemaster-logo {
  width: 2.5rem;
  height: 2.5rem;
}

.header-btn {
  padding: 0;
  margin: 0;
  background-color: var(--light-blue-gray);
  color: var(--dark-blue);
  text-transform: uppercase;
  font-weight: var(--bold-font-weight);
  line-height: 1.625rem;
}


