/******************************************************/
                  /* IMPORTS */
/******************************************************/


/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

/******************************************************/
                  /* VARIABLES */
/******************************************************/


:root {


  /* COLORS */

  --bright-orange: hsl(22, 89%, 52%);
  --light-orange: hsl(22, 100%, 69%);
  --dark-blue: hsl(220, 50%, 17%);
  --blue-gray: hsl(221, 23%, 58%);
  --light-blue-gray: hsl(198, 28%, 93%);
  --white: hsl(0, 0%, 100%);


  /* TYPOGRAPHY */

  /* Font-Family */
  --barlow: 'Barlow', sans-serif;

  /* Font-Weights */
  --medium-font-weight: 500;
  --bold-font-weight: 700;
  --black-font-weight: 900;

  /* Font-Size */
  --font-size: 16px;

}


/******************************************************/
                  /* STYLES */
/******************************************************/

/* HTML */

html {
  font-size: var(--font-size);
  font-family: var(--barlow);
  font-weight: var(--medium-font-weight);
}

/* BODY .main-container */

.main-container {
  width: 375px;
  margin: 0 auto;
  background-color: var(--white);
  display: grid;
  justify-items: center;
}

/***************** SHARED STYLES ********************/

/* BUTTONS */

/* Shared Button Styles */
.btn {
  width: 9.375rem;
  height: 3rem;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: var(--bold-font-weight);
  line-height: 1.625rem;
}

/* HEADER */

.header {
  width: 20.4375rem;
  height: 3rem;
  margin: 1.4375rem 1.5rem 4rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Typemaster Logo */
.typemaster-logo {
  width: 2.5rem;
  height: 2.5rem;
}

/* Header Button */
.header-btn {
  background-color: var(--light-blue-gray);
  color: var(--dark-blue);
}

/* HERO */

/* Hero Container */
.hero {
  width: 20.4375rem;
  height: 17.875rem;
  margin: 0 1.5rem 4rem 1.5rem;
  display: flex;
  flex-direction: column;
}

/* Hero Main Headline */
.main-headline {
  font-size: 3rem;
  font-weight: var(--black-font-weight);
  line-height: 3rem;
  text-transform: uppercase;
  color: var(--dark-blue);
  margin: 0;
  padding: 0;
}

/* Hero Copy */
.hero-copy {
  color: var(--blue-gray);
  margin: 2rem 0;
  line-height: 1.625rem;
}


/* Hero Info Container */
.hero-info {
  width: 19.375rem;
  height: 3rem;
  margin: 0 1.125rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Orange Button */
.orange-btn {
  background-color: var(--bright-orange);
  color: var(--white);
}

/* Release Date Copy */
.release-date-copy {
  text-transform: uppercase;
  color: var(--blue-gray);
  font-weight: var(--bold-font-weight);
}

/* IMAGES */
/* Most images remain hidden on mobile devices */

/* Shared Image Styles */
.img {

}

/* Keyboard Image */
.keyboard-img {
  width: 23.25rem;
  height: 20.6875rem;
  padding: 0;
  margin: 0 0 1.5rem 1.5rem;
  background-image: url(../assets/mobile/image-keyboard.jpg);
  background-size: contain;
}

